@(msg: String)(statuses: List[twitter4j.Status])

@import helper._
@import helper.twitterBootstrap._

@main("Haiku Matcher") {
<div class="row">
	<div class="span3">
		<h1>Hello!</h1>
		<p>This is a sample page.</p>
		<p id="pronpt">@msg</p>
		
		<input type="text" id="screenName" />
		<input type="button" id="search" class="btn btn-primary search" value="検索">

	</div>
	<div class="span9 tweetList">
		@for(status <- statuses) {
			<div class="tweet">
				<div class="content">@status.getUser().getScreenName()</div>
				<div class="content">@status.getText()</div>
				<div class="created_at">@status.getCreatedAt()</div>
			</div>
		}
	</div>
</div>
}
